# Thư mục chứa thư viện (thủ phạm chính gây ra hàng ngàn file Git)
node_modules/

# Các file biên dịch và bộ nhớ đệm của Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Các file môi trường chứa khóa bí mật (Cực kỳ quan trọng)
.env
.env.*

# Các file báo cáo và log hệ thống
coverage/
coverage.json
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/.next/