# Thư viện Node.js (Rất nặng)
node_modules/

# File chứa biến môi trường (Bảo mật tuyệt đối)
.env
.env.*

# Các file biên dịch và cache do Hardhat tự sinh ra
cache/
artifacts/
typechain/
typechain-types/

# Các file log và báo cáo kiểm thử
coverage/
coverage.json
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*